@model List<CAD.Domain.Models.Aplicacao.PessoaModel>

@{
    ViewData["Title"] = "EditSocio";
}

@{
    var empresa = (CAD.Domain.Models.Aplicacao.EmpresaModel)ViewBag.Empresa;
}

@{
    var eTipoEmpresa = (CAD.Domain.Enums.ETipoEmpresa)empresa.Tipo;
    if (eTipoEmpresa == CAD.Domain.Enums.ETipoEmpresa.Matriz)
    {
        @await Html.PartialAsync("~/Views/Partial/_Empresa.cshtml", empresa)
    }
    else
    {
        @await Html.PartialAsync("~/Views/Partial/_Filial.cshtml", empresa)  
    }
}

<h1>Sócios</h1>
<form method="post">
    <div class="form-group">
        <div class="form-group-header">
            <h4>Associar pessoas a esta empresa</h4>
        </div>
        <div class="form-group-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].PessoaId" />
                    <input type="hidden" asp-for="@Model[i].Nome" />
                    <input type="hidden" asp-for="@Model[i].DataNascimento" />
                    <input type="hidden" asp-for="@Model[i].NomeMae" />
                    <input type="hidden" asp-for="@Model[i].Cpf" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].Nome
                    </label>
                </div>
            }
        </div>
        <div class="form-group-footer">
            @if (Model.Count() != 0)
            {
                <input type="submit" value="Atualizar" class="btn btn-primary" style="width:auto" />
            }
            <a asp-action="IndexSocio" asp-route-empresaId="@empresa.EmpresaId"
             class="btn btn-primary" style="width:auto">Cancelar</a>
        </div>
    </div>
</form>
