@model List<CAD.Domain.Models.Aplicacao.FilialModel>

@{
    ViewData["Title"] = "EditFilial";
}

@{
    var empresa = (CAD.Domain.Models.Aplicacao.EmpresaModel)ViewBag.Empresa;
}

@await Html.PartialAsync("~/Views/Partial/_Empresa.cshtml", empresa)

<h1>Filiais</h1>
<form method="post">
    <div class="form-group">
        <div class="form-group-header">
            <h4>Associar filiais a esta empresa</h4>
        </div>
        <div class="form-group-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].EmpresaId" />
                    <input type="hidden" asp-for="@Model[i].Cgc" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].Cgc   @Model[i].Nome  @Model[i].TipoEmpresa
                    </label>
                </div>
            }
        </div>
        <div class="form-group-footer">
            @if (Model.Count() != 0)
            {
                <input type="submit" value="Atualizar" class="btn btn-primary" style="width:auto" />
            }
            <a asp-action="IndexFilial" asp-route-empresaId="@empresa.EmpresaId"
             class="btn btn-primary" style="width:auto">Cancelar</a>
        </div>
    </div>
</form>