@model IEnumerable<Cadastro.Domain.Models.EmpresaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cgc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cgc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEmpresa)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.EmpresaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.EmpresaId }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.EmpresaId })
            </td>
        </tr>
}    </tbody>
</table>
