@model IEnumerable<Cadastro.Domain.Models.EnderecoPessoaModel>

@{
    var Id = ViewBag.Id;
}

<h1>Endereços</h1>
<p>
    @Html.ActionLink("Novo", "EditEndereco", new { enderecoId=0, pessoaId=Id })
</p>
<table class="table">
    <thead>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Endereco.Tipo)
            </th>
            <th></th>
        </tr>
        break;
}
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.TipoEndereco)
            </td>
            <td>
                @Html.ActionLink(
                    "Editar", "EditEndereco", new { enderecoId=item.EnderecoId, pessoaId=item.PessoaId })
            </td>
        </tr>
}    </tbody>
</table>