@model CAD.Domain.Models.Aplicacao.EmpresaModel

<h1>Empresa</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cgc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Cgc)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.TipoEmpresa)
            </td>
            <td>
                @Html.ActionLink("Endereço", "EditEndereco", new { id=Model.EmpresaId }) |
                @Html.ActionLink("Sócios", "EditSocio", new { empresaId=Model.EmpresaId })
            </td>
        </tr>
    </tbody>
</table>